.cd-wrapper{
    height: 100%;
    .cd-header{
        height: calc((56 / 1080) * 100vh);
        margin-bottom: calc((28 / 1080) * 100vh);
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .cd-action{
            display: flex;
            gap: calc((14 / 1920) * 100vw);
            .cd-icon{
                height: calc((24 / 1080) * 100vh);
                width: calc((24 / 1080) * 100vh);
            }
        }

        .chat-avatar{
            width: calc((56 / 1920) * 100vw);
            height: calc((56 / 1920) * 100vw);
            border-radius: 50%;
            background-color: #8b8b8b;
        }
        .chat-infomation{
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            gap: calc((6 / 1080) * 100vh);
            .chat-name{
                color: #ffffff;
                font-size: clamp(12px, calc((19 / 1920) * 100vw), 29px);
                font-weight: 500;
                line-height: 1.5;
            }
            .chat-location{
                color: #9B9B9B;
                font-size: clamp(10px, calc((17 / 1920) * 100vw), 27px);
                font-weight: 500;
                line-height: 1;
            }
        }
    }
    .cd-content{
        margin-top: calc((32 / 1080) * 100vh);
        height: 100%;
        max-height: calc((660 / 1080) * 100vh);
        overflow-y: scroll;
        display: flex;
        flex-direction: column-reverse;
        justify-content: end;
        .separator-date{
            width: 100%;
            text-align: center;
            color: #323232;
            font-size: clamp(10px, calc((16 / 1920) * 100vw), 26px);
            font-weight: 400;
            line-height: 1;
            margin: calc((40 / 1080) * 100vh) 0;
        }

        .message{
            margin-top: calc((40 / 1080) * 100vh);
            width: 100%;
            display: flex;
            align-items: start;
        }
        .message.own{
            justify-content: end;
            text-align: end;
        }

        .message-avatar{
            width: calc((45 / 1920) * 100vw);
            height: calc((45 / 1920) * 100vw);
            border-radius: 100%;
            background-color: #8b8b8b;
            margin-right: calc((16 / 1920) * 100vw);
        }

        .message-content{
            display: flex;
            flex-direction: column;
            gap: calc((14 / 1080) * 100vh);
            .message-infomation{
                color: #B9B9B9;
                font-size: clamp(10px, calc((16 / 1920) * 100vw), 26px);
                font-weight: 400;
                line-height: 1.5;
            }
            .message-content{
                padding: calc((20 / 1920) * 100vw);
                background-color: #FFFFFF;
                color: #000000;
                border-radius: 15px;
            }
            .message-content.own{
                background-color: #000000;
                color: #FFFFFF;
            }
        }
    }
}