.input-form{
    display: flex;
    flex-direction: column;
    gap: calc((8 / 1080) * 100vh);
    margin-bottom: calc((18 / 1080) * 100vh);
    label{
        font-size: clamp(10px, calc((18 / 1920) * 100vw), 28px);
        font-weight: 500;
        line-height: 1;  
    }
    input{
        border: 1px solid #D9D9D9;
        border-radius: 10px;
        width: 100%;
        height: calc((60 / 1080) * 100vh);
        padding-left: calc((20 / 1920) * 100vw);
        box-sizing: border-box;
    }

    input::placeholder {
        font-size: clamp(10px, calc((16 / 1920) * 100vw), 26px);
    }
}

.btn-primary{
    border-radius: 10px;
    background-color: #000000;
    color: #FFFFFF;
    width: 100%;
    height: calc((60 / 1080) * 100vh);
    font-size: clamp(10px, calc((18 / 1920) * 100vw), 28px);
}

.select-form{
    display: flex;
    flex-direction: column;
    gap: calc((8 / 1080) * 100vh);
    label{
        color: #C4C4C4;
        font-size: clamp(10px, calc((15 / 1920) * 100vw), 25px);
        font-weight: 500;
    }
}